input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no_otp{
    display: none;
}
.no_password{
    display: none;
}
.no_email{
    display: none;
}
.email{
    margin-bottom: 10px;
}
.otpmessage{
    color: rgba(246, 246, 6, 0.939);
    margin-bottom: 15px;

}
.otp{
    margin-top: 5px;
}
.otptimer{
    margin-top: 5px;
   color: white;
}
.resendotp{
    color: rgb(255, 255, 255);
    font-size: medium;
    text-align: left;
}
.resendotp:hover{
    color: yellow;
    font-size: medium;
    text-align: left;
}
.resendotp2{

    text-align: left;
}
.resendotpdiv{
    text-align: left;
    margin-left: 45px;
}
.resendotpdiv2{
    text-align: left;
    margin-left: 40px;
    
}
h2{
    color: white;
}
